<div class="announcement-bar" style="display:none;"></div>

{% schema %}
{
  "name": "Announcement bar",
  "settings": [],
  "presets": [
    {
      "name": "Announcement bar"
    }
  ]
}
{% endschema %}
