<div class="footer-wrapper" style="display:none;"></div>

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section-group-footer-group",
  "settings": [],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
