<div class="header-wrapper" style="display:none;"></div>

{% schema %}
{
  "name": "Header",
  "class": "shopify-section-group-header-group",
  "settings": [],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
